.map {
    width: 100%;
    height: 433px;
    background-color: #2A3047;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (min-width: 1024px) {
        width: 302px;
    }

    @media (min-width: 1280px) {
        width: 402px;
    }
}

.map__wrapper {
    width: 100%;
}

.map__info {
    margin-bottom: 10px;
    max-width: 372px;
    max-height: 218px;
    background-color: #2A3047;
    display: flex;
}

.info-map__wrapper {
    margin: 0 auto;
    padding-top: 25px;
    max-width: 218px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info-map__name {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #E7EAF0;
}

.info-map__location {
    font-size: 16px;
    line-height: 33px;
    color: #E7EAF0;
    display: flex;
    gap: 8px;
}

.info-map__adress {
    line-height: 36px;

    img {
        display: inline;
    }
}

.info-map__phone,
.info-map__email {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.669635);
    opacity: 0.7;
}

.map__location {
    width: 100%;
    height: 218px;
}