/*================================================*/

::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
    color: rgb(240, 238, 238) !important;

    &:hover {
        transform: none !important;
        color: rgb(176, 172, 172) !important;
    }

    &::before {
        content: '\f005' !important;
    }
}

::ng-deep input.star:checked~label.star:before {
    color: #38415D !important;
}

::ng-deep input.star-5:checked~label.star:before {
    text-shadow: none !important;
}

/*================================================*/


.pages__items {
    display: flex;

    input {
        display: none;
    }

    input:checked+label {
        text-decoration: underline;
    }
}