<div>

    <div *ngFor="let job of jobListToShow">
        <img src="{{job.pictures[0]}}" alt="">

        <p>{{job.title}}</p>


        <p>{{job.fullLocation}}</p>
        <p>{{job.shortLocation}}</p>



        <div (click)="isRatedClick(job)" [hidden]="job.isRated">Not rated</div>
        <div (click)="isRatedClick(job)" [hidden]="!job.isRated">Is rated</div>


        <ngx-star-rating [(ngModel)]="job.stars" [id]="job.id"></ngx-star-rating>


        <p>Posted {{job.daysAgo}} days ago</p>

    </div>
</div>

<div class="prev" (click)="prevPage()">Prev</div>
<div class="pages__items">
    <div *ngFor="let page of pages" class="pages__item">
        <input class="pages__radio" [id]="page" [checked]="currentPage === page" type="radio" id="{{page}}"
            name="pagesButton">
        <label (click)="pageClick(page)" class="pages__label" for="{{page}}">{{page}}</label>
    </div>
</div>
<div class="prev" (click)="nextPage()">Next</div>