/*================================================*/

::ng-deep rating {
    @media (min-width:1024px) {
        span {
            font-size: 25px !important;
        }
    }
}

/*================================================*/

.logo {
    width: 65px;
    min-width: 65px;
    height: 65px;
    min-height: 65px;
    border-radius: 50%;

    @media (min-width: 1024px) {
        width: 85px;
        min-width: 85px;
        height: 85px;
        min-height: 85px;
    }
}

/*================================================*/

.pages__items {
    display: flex;

    input {
        display: none;
    }

    input:checked+label {
        color: #55699E;
        border-bottom: 1px solid #55699E;

        @media (min-width: 768px) {
            padding-bottom: 14px;
            color: #5876C5;
            border-bottom: 3px solid #5876C5;
        }
    }

    .pages__label {
        margin-bottom: 0;
        padding: 10px;
        font-size: 20.8px;
        line-height: 25px;
        color: #70778B;
        display: inline;
    }
}

/*================================================*/

.main-bg {
    background-color: #E6E9F2;
}

.page-bg {
    background-color: #EFF0F5;

    @media (min-width: 768px) {
        background-color: #fff;
    }
}

.shadow {
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.nav-width {
    min-width: 304px;
    background-color: #F9FAFD;

    @media (min-width: 576px) {
        min-width: 368px;
    }

    @media (min-width: 640px) {
        min-width: 432px;
    }

    @media (min-width: 768px) {
        min-width: 0;
        background-color: #fff;
    }
}

.gray {
    color: #878D9D;
}

.width {
    width: 959px;
}