<main class="max-w-full min-h-screen flex flex-col justify-between items-center main-bg">
    <section class="max-w-none  xs:max-w-sm sm:max-w-md md:max-w-xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 
        my-0 mx-auto px-2.5 py-4 flex flex-col gap-2">
        <div *ngFor="let job of jobListToShow" class="px-4 py-6 rounded-lg page-bg flex  justify-between  gap-6 shadow">
            <div class="pt-11 md:pt-0">
                <img class="logo" src="{{job.pictures[0]}}" alt="logo">
            </div>
            <div class="width flex flex-col-reverse lg:flex-row justify-between gap-2">
                <div class="w-100% grow-1 flex flex-col gap-2">
                    <div class=>
                        <p [routerLink]="['/vacancies-list', job.name]"
                            class="text-lg md:text-xl md:font-bold text-gray-600  cursor-pointer hover:text-gray-900">
                            {{job.title}}
                        </p>
                    </div>
                    <div>
                        <p class="font-normal text-base gray">{{job.fullLocation}}</p>
                    </div>
                    <div class="flex flex-row items-center order-4 gap-2">
                        <img class="w-3 h-3.5" src="../../../assets/img/CombinedShape.png" alt="marker">
                        <p class="text-base gray">{{job.shortLocation}}</p>
                    </div>
                </div>
                <div class="shrink-0 flex justify-between gap-4">
                    <div class="self-center shrink-0">

                        <div class="item-reviews__rating simple-rating">
                            <div class="simple-rating__items">
                                <input [id]="job.id+5" type="radio" class="simple-rating__item" [name]="job.id"
                                    value="5">
                                <label [for]="job.id+5" class="simple-rating__label"></label>
                                <input [id]="job.id+4" type="radio" class="simple-rating__item" [name]="job.id"
                                    value="4">
                                <label [for]="job.id+4" class="simple-rating__label"></label>
                                <input [id]="job.id+3" type="radio" class="simple-rating__item" [name]="job.id"
                                    value="3">
                                <label [for]="job.id+3" class="simple-rating__label"></label>
                                <input [id]="job.id+2" type="radio" class="simple-rating__item" [name]="job.id"
                                    value="2">
                                <label [for]="job.id+2" class="simple-rating__label"></label>
                                <input [id]="job.id+1" type="radio" class="simple-rating__item" [name]="job.id"
                                    value="1">
                                <label [for]="job.id+1" class="simple-rating__label"></label>
                            </div>
                        </div>


                    </div>
                    <div class="flex flex-col justify-between gap-2">
                        <div class="self-end hidden md:block">
                            <img (click)="isRatedClick(job)" [hidden]="!job.isRated"
                                class="w-5 h-5 cursor-pointer hover:scale-105"
                                src="../../../assets/img/bookmark-filled.png" alt="bookmark-filled">
                            <img (click)="isRatedClick(job)" [hidden]="job.isRated"
                                class="w-5 h-5 cursor-pointer hover:scale-105"
                                src="../../../assets/img/bookmark-empty.png" alt="bookmark-empty">
                        </div>
                        <div>
                            <p class="text-sm font-light md:text-base md:font-normal shrink-0 gray ">Posted
                                {{job.daysAgo}} days ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        class="mt-6 mb-4 mb- md:mt-12 md:mb-16 py-2 md:px-6 md:py-4  rounded-xl flex justify-between items-center  gap-5 shadow nav-width">
        <div class="w-1/5 cursor-pointer" (click)="prevPage()">
            <div class="w-1/5 opacity:0 md:hidden">.</div>
            <img src="../../../assets/img/Arrow left.png" alt="Arrow1" class="hidden md:block hover:scale-105">
        </div>
        <div>
            <img src="../../../assets/img/Separator 1.png" alt="Separator">
        </div>
        <div class="pages__items grow-1">
            <div *ngFor="let page of pages" class="pages__item hover:scale-105">
                <input class="pages__radio" [id]="page" [checked]="currentPage === page" type="radio" id="{{page}}"
                    name="pagesButton">
                <label (click)="pageClick(page)" for="{{page}}" class="pages__label cursor-pointer">{{page}}</label>
            </div>
        </div>
        <div>
            <img src="../../../assets/img/Separator 1.png" alt="Separator">
        </div>
        <div class="w-1/5 cursor-pointer" (click)="nextPage()">
            <div class="w-1/5 opacity:0 md:hidden">.</div>
            <img src="../../../assets/img/Arrow left.png" alt="Arrow2"
                class="rotate-180 hidden md:block hover:scale-105">
        </div>
    </section>
</main>