<main class="max-w-full min-h-screen">
    <section class="max-w-xs xs:max-w-sm sm:max-w-md md:max-w-xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 
    my-0 mx-auto">

        <h2 class="mt-6 mb-3 text-3xl font-bold">Job Details</h2>

        <div class="flex">
            <div class="w-5 md:hidden" (click)="isRatedClick()">
                <img [hidden]="currentJob.isRated" src="../../../assets/img/star.png" alt="Star">
                <img [hidden]="!currentJob.isRated" src="../../../assets/img/BlackStar.png" alt="RatedStar">
            </div>
            <div class="w-5 hidden md:block" (click)="isRatedClick()">
                <img [hidden]="currentJob.isRated" src="../../../assets/img/bookmark-empty.png" alt="Star">
                <img [hidden]="!currentJob.isRated" src="../../../assets/img/bookmark-filled.png" alt="RatedStar">
            </div>
            <p class="text-sm text-color">Save to my list</p>
        </div>
        <div>
            <img src="../../../assets/img/share.png" alt="Star">
            <p class="text-sm text-color">Share</p>
        </div>


        <div>
            {{currentJob.title}}
        </div>

        <div>
            Posted{{currentJob.daysAgo}} days ago
        </div>

        <div>
            Brutto, per year
            {{currentJob.salary}}
        </div>


        <div>
            {{currentJob.description}}
        </div>

        <button>Apply now</button>

        <div>
            <h2>Attached images</h2>
            <div *ngFor="let img of currentJob.pictures">
                <img [src]="img" alt="">
            </div>
        </div>

        <div>
            <h2>Additional info</h2>

            <div>
                <p>Employment type</p>
                <div *ngFor="let employmentType of currentJob.employment_type">
                    <p>{{employmentType}}</p>
                </div>
            </div>
            <div>
                <p>Benefits</p>
                <div *ngFor="let benefit of currentJob.benefits">
                    <p>{{benefit}}</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2>Contacts</h2>
        <app-maps [currentJob]="currentJob"></app-maps>
    </section>




    <button class="hidden md:block" [routerLink]="'/vacancies-list'">RETURN TO JOB BOARD</button>
</main>