.h-color {
    color: rgba(56, 65, 93, 0.82);
}

.text-color {
    color: #38415D;
}

.employment-color {
    color: #55699E;
    background: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.benefits-color {
    color: #988B49;
    background: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
}

.return-color {
    color: #3A4562;
    background: rgba(56, 69, 100, 0.14);
}